# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# git apply may fail unless it is fed LF terminated patches...
*.patch eol=lf
*.sh eol=lf
*.c text
*.h text
*.md text 
Makefile text
Make.common text
Make.gnuefi text

